## Linear Regression

In [1]:
import pandas as pd

In [7]:
data = pd.read_csv("cost_revenue_dirty.csv")
data.head()

,Rank,Release Date,Movie Title,Production Budget ($),Worldwide Gross ($),Domestic Gross ($)
0,5293,8/2/1915,The Birth of a Nation,"$110,000","$11,000,000","$10,000,000"
1,5140,5/9/1916,Intolerance,"$385,907",$0,$0
2,5230,12/24/1916,"20,000 Leagues Under the Sea","$200,000","$8,000,000","$8,000,000"
3,5299,9/17/1920,Over the Hill to the Poorhouse,"$100,000","$3,000,000","$3,000,000"
4,5222,1/1/1925,The Big Parade,"$245,000","$22,000,000","$11,000,000"

In [9]:
data.shape

(5391, 6)

In [19]:
data.iloc[:,3:] =

     Production Budget ($) Worldwide Gross ($) Domestic Gross ($)
0                 $110,000         $11,000,000        $10,000,000
1                 $385,907                  $0                 $0
2                 $200,000          $8,000,000         $8,000,000
3                 $100,000          $3,000,000         $3,000,000
4                 $245,000         $22,000,000        $11,000,000
...                    ...                 ...                ...
5386           $15,000,000                  $0                 $0
5387          $160,000,000                  $0                 $0
5388          $175,000,000                  $0                 $0
5389           $50,000,000                  $0                 $0
5390           $20,000,000                  $0                 $0

[5391 rows x 3 columns]